@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  @apply rounded-3xl p-6 border border-gray-900 bg-gray-950;
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 8px;
}
.glow {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 4px;
}